<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta name="keywords" content="hl,博客,php">
    <meta name="description" content="老白的博客">
    <link rel="stylesheet" href="/static/res/layui/css/layui.css">
    <link rel="stylesheet" href="/static/res/css/global.css">
    <link rel="stylesheet" href="/static/res/css/clock.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> 
  </head>
  <body>
    <div class="header">
      <div class="main">
        <a class="logo" href="/" title="">博客</a>
        <div style="position: absolute;left: 160px;">
        <ul class="layui-nav" lay-filter="type">
          <li class="layui-nav-item layui-this" value="0"><a href="javascript:;">全部</a></li>
          {volist name="type" id="vo"}
            <li class="layui-nav-item" value="{$vo['id']}"><a href="javascript:;">{$vo['title']}</a></li>
          {/volist}
        </ul>
        </div>
        <div class="nav-user">
          {if condition="$is_login"}
            <div class="nav">
              <a href="/add/index"><i class="iconfont icon-fabu" style="top: 0; font-size: 22px;"></i>添加</a>
              <a href="javascript:;" class="pt"><i class="iconfont icon-lianjie" style="top:0;font-size:22px;"></i>扒图</a>
              <a href="/pic/index"><i class="layui-icon icon-yulan" style="top: 0; font-size: 22px;"></i>看图</a>
              <a href="/user/logout"><i class="iconfont icon-tuichu" style="top: 0; font-size: 22px;"></i>退出</a>
            </div>
          {/if}
        </div>
      </div>
    </div>
    <div class="main layui-clear">
      <div class="wrap">
        <div class="content">
          <div class="list">
            <ul class="fly-list">
              <li style="text-align:center;">加载中</li>
            </ul>
          </div>
          <div id="page" style="text-align: center">
          </div>
        </div>
      </div>
      <div class="edge">
        <dl class="fly-panel fly-list-one">
          <h3 class="fly-panel-title clock">时间</h3>
            <div id="clock" class="light" style="padding: 5px">
              <div class="display">
                <div class="weekdays"></div>
                <!-- <div class="ampm"></div> -->
                <div class="digits"></div>
              </div>
            </div>
        </dl>
        <dl class="fly-panel fly-list-one">
          <dt class="fly-panel-title">查看</dt>
        {volist name="see" id="vo"}
            <dd>
              <a href="javascript:scrollTo(0,0)" class="details" value="{$vo['id']}">{$vo['title']}</a>
              <span><i class="iconfont">&#xe60b;</i> {$vo['see_num']}</span>
            </dd>
        {/volist}
        </dl>

        <dl class="fly-panel fly-list-one"> 
          <dt class="fly-panel-title">回复</dt>
          {volist name="argue" id="vo"}
            <dd>
              <a href="javascript:scrollTo(0,0)" class="details" value="{$vo['id']}">{$vo['title']}</a>
              <span><i class="iconfont">&#xe60c;</i> {$vo['argue_num']}</span>
            </dd>
          {/volist}
        </dl>

        <div class="fly-panel fly-link">
          <h3 class="fly-panel-title">友情链接</h3>
          <dl>
            {volist name="friendLink" id="vo"}
            <dd>
              <a href="{$vo['url']}" target="_blank">{$vo['cont']}</a>
            </dd>
            {/volist}
          </dl>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>
        2017 &copy;鄂ICP备17001565号 <a href="http://blog.tudan.net.cn">blog.tudan.net.cn</a>
      </p>
    </div>
  </body>
</html>
<script src="/static/res/layui/layui.js"></script>
<script src="/static/res/moment.js"></script>
<script>
	layui.config({
	  version: "2.0.0"
	  ,base: '/static/res/mods/'
	}).use(['index']);
</script>